<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <springProperty name="LOG_DIR" source="logging.file.path" scope="context"></springProperty>
    <springProperty name="APP_NAME" source="spring.application.name" scope="context"></springProperty>
    <springProperty name="ROOT_LEVEL" source="log.root.level" scope="context"></springProperty>

    <property name="LOG_PATTERN"
            value="[%d{&quot;yyyy-MM-dd'T'HH:mm:ss,SSSXXX&quot;}][%level][%thread][%X{MFWT-TRACER-ID}] %logger{20} - %m%n"/>
    <property name="LOG_FILE" value="${LOG_DIR}/${APP_NAME}/"/>

<!--    控制台输出-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </layout>

    </appender>

<!--    普通基本日志输出-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--        滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--            文件路径-->
            <fileNamePattern>
                ${LOG_FILE}/info.%d.log
            </fileNamePattern>

        </rollingPolicy>
    </appender>

<!--错误日志输出-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--        根据范围过滤-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--        滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--            文件路径-->
            <fileNamePattern>
                ${LOG_FILE}/error.%d.log
            </fileNamePattern>

        </rollingPolicy>
    </appender>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="consoleLog"></appender-ref>
        <appender-ref ref="fileInfoLog"></appender-ref>
        <appender-ref ref="fileErrorLog"></appender-ref>
    </root>
</configuration>